BTQ/BTQ/obj/
BTQ/BTQ/bin/
*.suo
BTQ/BTQUnitTests/bin/
BTQ/BTQUnitTests/obj/
BTQ/packages/
BTQU/BTQU/Library/
BTQ/BTQLib/obj/
BTQ/obj/
*Assembly-CSharp-Editor.csproj
BTQU/BTQU/Assembly-CSharp.csproj
*BTQU.CSharp.Editor.csproj
*BTQU.CSharp.csproj
BTQU/BTQU/BTQU.sln
BTQU/BTQU/Temp/
BTQU/BTQU/Assets/Data/
BTQU/BTQU/Assets/Data.meta
